#s-43498e6f-695d-436f-927e-7cecf3a27640 > #backgroundBox {
  position: absolute;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 > #alignmentBox {
  position: relative;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_1 {
  position: absolute;
  width: 986.0px;
  min-height: 1334.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFE5D5;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_2 {
  position: absolute;
  width: 953.0px;
  min-height: 999.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFCAA9;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_3 {
  position: absolute;
  width: 986.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFA065;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_4 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #585858;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_6 {
  position: absolute;
  width: 931.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_6 .valign {
  vertical-align: top;
  text-align: center;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_4 {
  position: absolute;
  width: 986.0px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFA065;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_7 {
  position: absolute;
  width: 118.99999999999716px;
  min-height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_8 {
  position: absolute;
  width: 131.0px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_5 {
  position: absolute;
  width: 709.0px;
  min-height: 184.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFE5D5;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_9 {
  position: absolute;
  width: 440.0px;
  min-height: 68.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Path_1 {
  position: absolute;
  width: 224.4100434297489px;
  height: 164.28132774464294px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Path_2 {
  position: absolute;
  width: 224.15140515408152px;
  height: 163.77316915225143px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_10 {
  position: absolute;
  width: 131.59056091308594px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_10 .valign {
  vertical-align: top;
  text-align: center;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_6 {
  position: absolute;
  width: 709.0px;
  min-height: 184.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFE5D5;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_12 {
  position: absolute;
  width: 440.0px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Path_3 {
  position: absolute;
  width: 224.4100434297489px;
  height: 164.28132774464294px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Path_4 {
  position: absolute;
  width: 224.15140515408152px;
  height: 163.77316915225143px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_13 {
  position: absolute;
  width: 131.59056091308594px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_13 .valign {
  vertical-align: top;
  text-align: center;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_13 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_7 {
  position: absolute;
  width: 709.0px;
  min-height: 184.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFE5D5;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_15 {
  position: absolute;
  width: 440.0px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_8 {
  position: absolute;
  width: 709.0px;
  min-height: 186.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFE5D5;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_17 {
  position: absolute;
  width: 440.0px;
  min-height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Path_5 {
  position: absolute;
  width: 224.4100434297489px;
  height: 164.11936100250617px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Path_6 {
  position: absolute;
  width: 224.14967496477254px;
  height: 162.63934166784628px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_18 {
  position: absolute;
  width: 131.59056091308594px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_18 .valign {
  vertical-align: top;
  text-align: center;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_18 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_19 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_19 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_20 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_9 {
  position: absolute;
  width: 180.0px;
  min-height: 139.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #FFE5D5;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_21 {
  position: absolute;
  width: 162.0px;
  min-height: 81.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_22 {
  position: absolute;
  width: 147.6923065185547px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_22 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_23 {
  position: absolute;
  width: 217.0px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_23 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_23 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_24 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_24 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_24 span {
  color: #716F6F;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #716F6F;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_10 {
  position: absolute;
  width: 224.0px;
  min-height: 165.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_10 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../../images/947447d8-1e54-47c5-a36c-152ae3ad0ead@2x.png');
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_10 > .innerShadowLayer {
  box-shadow: inset 0.0px 4.0px 4px rgba(0,0,0,0.15);
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_11 {
  position: absolute;
  width: 227.0px;
  min-height: 165.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_11 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../../images/9a5eb539-7aef-4ce6-9f8d-ccc168a5ce3e@2x.png');
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_11 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_11 > .innerShadowLayer {
  box-shadow: inset 0.0px 4.0px 4px rgba(0,0,0,0.15);
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_11 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_12 {
  position: absolute;
  width: 224.0px;
  min-height: 167.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_12 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../../images/cd946890-ffea-46a0-aa59-667efa8b5a45@2x.png');
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_12 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_12 > .innerShadowLayer {
  box-shadow: inset 0.0px 4.0px 4px rgba(0,0,0,0.15);
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_12 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_13 {
  position: absolute;
  width: 225.0px;
  min-height: 165.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_13 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../../images/0fd0f6a4-0ee1-42f6-8436-2ef5135a5608@2x.png');
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_13 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_13 > .innerShadowLayer {
  box-shadow: inset 0.0px 4.0px 4px rgba(0,0,0,0.15);
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_13 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_14 {
  position: absolute;
  width: 955.0px;
  min-height: 155.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  blur(2.4000000953674316px);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_14 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../../images/013c1460-0c44-4e92-89f6-b04fdc311530@2x.png');
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_14 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_25 {
  position: absolute;
  width: 468.82659912109375px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_25 .valign {
  vertical-align: top;
  text-align: left;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_25 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 36.0pt;
  font-weight: 700;
  text-transform: none;
  line-height: 35px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 36.0pt;
  font-weight: 700;
  text-transform: none;
  line-height: 35px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 #s-Text_25 span#rtr-s-Text_25_1 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
  line-height: 35px;
}
#s-43498e6f-695d-436f-927e-7cecf3a27640 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}