#s-66064276-c1b7-435d-8996-6c96c868975c > #backgroundBox {
  position: absolute;
}
#s-66064276-c1b7-435d-8996-6c96c868975c > #alignmentBox {
  position: relative;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_1 {
  position: absolute;
  width: 766.0px;
  min-height: 878.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFE5D5;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_2 {
  position: absolute;
  width: 766.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFA065;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_3 {
  position: absolute;
  width: 766.0px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFA065;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_4 {
  position: absolute;
  width: 726.0px;
  min-height: 245.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFCAA9;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_5 {
  position: absolute;
  width: 150.0px;
  min-height: 150.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFE5D5;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_3 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_3 span#rtr-s-Text_3_0 {
  color: #585858;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_6 span#rtr-s-Text_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_6 {
  position: absolute;
  width: 200.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFA065;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_7 span#rtr-s-Text_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Path_3 {
  position: absolute;
  width: 200.0px;
  height: 131.0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Path_4 {
  position: absolute;
  width: 199.89934728082295px;
  height: 129.43306673804776px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Path_5 {
  position: absolute;
  width: 200.0px;
  height: 164.28132774464294px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Path_6 {
  position: absolute;
  width: 199.98838250902983px;
  height: 163.73917243413487px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Path_7 {
  position: absolute;
  width: 200.0px;
  height: 164.28132774464294px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Path_8 {
  position: absolute;
  width: 200.0px;
  height: 164.28132774464294px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Path_9 {
  position: absolute;
  width: 199.98837551212898px;
  height: 163.73917243413487px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_7 {
  position: absolute;
  width: 200.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFA065;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_8 span#rtr-s-Text_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Path_10 {
  position: absolute;
  width: 200.0px;
  height: 131.0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Path_11 {
  position: absolute;
  width: 199.89937070875413px;
  height: 129.43306673804776px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_8 {
  position: absolute;
  width: 200.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFA065;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_9 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_9 span#rtr-s-Text_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Path_12 {
  position: absolute;
  width: 200.0px;
  height: 131.0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Path_13 {
  position: absolute;
  width: 199.8993702561706px;
  height: 129.43306673804776px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_10 {
  position: absolute;
  width: 381.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_11 {
  position: absolute;
  width: 130.0px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_11 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_11 span#rtr-s-Text_11_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Path_14 {
  position: absolute;
  width: 35.00696795391204px;
  height: 36.64051706802666px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Path_15 {
  position: absolute;
  width: 35.00694369746034px;
  height: 36.64051706802666px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_9 {
  position: absolute;
  width: 731.0px;
  min-height: 230.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  blur(2.4000000953674316px);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_9 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../../images/76015603-071f-42a1-b7c9-fa2190a00099@2x.png');
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_10 {
  position: absolute;
  width: 200.0px;
  min-height: 131.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_10 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../../images/904fe9c1-f2c3-456b-bb32-ebaf2d94fca4@2x.png');
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_10 > .innerShadowLayer {
  box-shadow: inset 0.0px 4.0px 4px rgba(0,0,0,0.15);
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_11 {
  position: absolute;
  width: 200.0px;
  min-height: 131.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_11 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../../images/9ba24318-c8e4-4b65-9e67-48be546da9eb@2x.png');
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_11 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_11 > .innerShadowLayer {
  box-shadow: inset 0.0px 4.0px 4px rgba(0,0,0,0.15);
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_11 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_12 {
  position: absolute;
  width: 200.0px;
  min-height: 165.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_12 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../../images/a2ab32e9-0cd4-4f87-838f-9084605448e7@2x.png');
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_12 > .innerShadowLayer {
  box-shadow: inset 0.0px 4.0px 4px rgba(0,0,0,0.15);
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_12 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_13 {
  position: absolute;
  width: 202.0px;
  min-height: 167.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_13 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../../images/6030359e-2095-428d-9e05-a44b66f8460d@2x.png');
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_13 > .innerShadowLayer {
  box-shadow: inset 0.0px 4.0px 4px rgba(0,0,0,0.15);
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_13 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_14 {
  position: absolute;
  width: 200.0px;
  min-height: 166.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_14 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../../images/8d227381-d72b-4ec7-b169-a77446e92b36@2x.png');
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_14 > .innerShadowLayer {
  box-shadow: inset 0.0px 4.0px 4px rgba(0,0,0,0.15);
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_14 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_15 {
  position: absolute;
  width: 200.0px;
  min-height: 131.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_15 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../../images/6a28fab9-7cf0-4733-8033-8a8a7cb91d86@2x.png');
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_15 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_15 > .innerShadowLayer {
  box-shadow: inset 0.0px 4.0px 4px rgba(0,0,0,0.15);
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_15 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_12 {
  position: absolute;
  width: 377.82659912109386px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_20.0.0_google',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_12 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 45.0pt;
  font-weight: 700;
  text-transform: none;
  line-height: 44px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Text_12 span#rtr-s-Text_12_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter_20.0.0_google',Arial;
  font-size: 45.0pt;
  font-weight: 700;
  text-transform: none;
  line-height: 44px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Button_1 {
  position: absolute;
  width: 199.9999999999994px;
  min-height: 160.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Button_6 {
  position: absolute;
  width: 201.00000000000068px;
  min-height: 160.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Button_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Button_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Button_6 span#rtr-s-Button_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Button_7 {
  position: absolute;
  width: 200.5px;
  min-height: 160.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Button_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Button_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c #s-Button_7 span#rtr-s-Button_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-66064276-c1b7-435d-8996-6c96c868975c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}